@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (orientation: landscape) {
    #__next {
        @apply mx-auto sm:aspect-[9/16] h-screen;
    }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
color: #242424 !important;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
